.App {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: 'Courier New', Courier, monospace;
  flex-shrink: 0;
}

.centerer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.greyed-out{
  color: grey;
}

:root {
  --instruction-dims: 50px;
  --cell-dims: 100px;
}

button {
  width: 50px
}

.list {
  display: flex;
  flex-direction: row;
}

.InstructionPointer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--instruction-dims);
  aspect-ratio: 1 / 1;
  font-size: 40px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0);
  border-radius: 4px;
  margin: 2px;
  flex-shrink: 0;
}

.instruction-pointer {
  height: var(--instruction-dims);
  color: red;
}

.Instruction {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--instruction-dims);
  aspect-ratio: 1 / 1;
  font-size: 40px;
  border-style: solid;
  border-radius: 4px;
  margin: 2px;
  flex-shrink: 0;
}

.spacer{
  height: 70px;
}

.Cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--cell-dims);
  aspect-ratio: 1 / 1;
  font-size: 80px;
  border-style: solid;
  border-radius: 4px;
  margin: 2px;
  flex-shrink: 0;
}

.cell-pointer{
  color: green;
  height: var(--cell-dims);
}

.Pointer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--cell-dims);
  aspect-ratio: 1 / 1;
  font-size: 40px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0);
  border-radius: 4px;
  margin: 2px;
  flex-shrink: 0;
}