.App {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  font-family: 'Courier New', Courier, monospace;
  flex-shrink: 0;
}

:root {
  --instruction-dims: 50px;
}

button {
  width: 50px
}

.InstructionPointerList {
  display: flex;
  flex-direction: row;
}



.InstructionPointer {
    display: flex;
      justify-content: center;
      align-items: center;
  width: var(--instruction-dims);
  aspect-ratio: 1 / 1;
  font-size: 40px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0);
  border-radius: 4px;
  margin: 2px;
  flex-shrink: 0;
}

.instruction-pointer {
height: var(--instruction-dims);
color:red;
}

.InstructionList {
  display: flex;
  flex-direction: row;
}

.Instruction {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--instruction-dims);
  aspect-ratio: 1 / 1;
  font-size: 40px;
  border-style: solid;
  border-radius: 4px;
  margin: 2px;
  flex-shrink: 0;
}