.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
  flex-shrink: 0;
}

.centerer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.greyed-out {
  color: grey;
  background-color: white;
}

:root {
  --instruction-dims: 50px;
  --cell-dims: 100px;
}



.list {
  display: flex;
  flex-direction: row;
}

.InstructionPointer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--instruction-dims);
  aspect-ratio: 1 / 1;
  font-size: 40px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0);
  border-radius: 4px;
  margin: 2px;
  flex-shrink: 0;
}

.instruction-pointer {
  height: var(--instruction-dims);
  color: red;
}

.Instruction {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--instruction-dims);
  aspect-ratio: 1 / 1;
  font-size: 40px;
  border-style: solid;
  border-radius: 4px;
  margin: 2px;
  flex-shrink: 0;
}

.ran {
  color: grey;
}

.ran.start {
  background-color: black;
}

.display-end.start,
.display-end.end {
  background-color: black;
  color: grey;
}

.display-end.start.instruction-pointer,
.display-end.end.instruction-pointer {
  background-color: black;
  color: rgb(255, 0, 0);
}



.spacer {
  height: 70px;
}

.Cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--cell-dims);
  aspect-ratio: 1 / 1;
  font-size: 80px;
  border-style: solid;
  border-radius: 4px;
  margin: 2px;
  flex-shrink: 0;
}

.cell-pointer {
  color: green;
  height: var(--cell-dims);
}

.Pointer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--cell-dims);
  aspect-ratio: 1 / 1;
  font-size: 40px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0);
  border-radius: 4px;
  margin: 2px;
  flex-shrink: 0;
}

.Output {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 40px;
}

.output-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  aspect-ratio: 1 / 1;
  font-size: 100px;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  border-radius: 9px;
  margin: 2px;
}

.button-container{
  display: flex;
flex-direction: column;
  position: fixed;
  left: 100px;
  top: 80vh;

}

button {
  font-family: 'Courier New', Courier, monospace;
  font-size: 40px;
}